table { //선생이 하라는데로 고치는데 뒤에 안보여줌..
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
 
}

thread th {
    border-bottom: 2x solid #bbb;
    padding-bottom: .5em;
    
}

td,
th {
    vertical-align: top;
    
}

th{
    padding: .4em;
    text-align: left;
    
}
//이 뒤로 tr{}시작하는 거 있는데 안보여주고 넘어갔어....